:host {
  display: block;
}

.checkbox-align {
  padding-top: 1.85rem;
}

.shipto-wrapper {
    position: relative;
}

.shipto-dropdown {
    position: absolute;
    top: 60%;
    left: 50%;
    width: 100%;
    z-index: 50; 
}