.icon-section {
    padding: 2rem 0;
}

.icon {
    max-width: 7rem;
    max-height: 7rem;
}

.text-section {
    padding: 1rem;
}

.card {
    border: 1px solid var(--lwc-colorBorder);
    border-radius: 1.25rem;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
}